In [108]:
name = "Dzikri Hibatullah M"
kelas = "TI22T"
Jurusan = "Teknik Informstika"
Quotes = "jika bisa sekarang kenapa harus nanti"
print("nama:",nama)
print("kelas:",kelas)
print("Jurusan:",Jurusan)
print("Quotes:",Quotes)

nama: Dzikri Hibatullah M
kelas: TI22T
Jurusan: Teknik Informstika
Quotes: jika bisa sekarang kenapa harus nanti

In [9]:
a,b,c = 1,2,"mantap"
print("a:",a)
print("b:",b)
print("c:",c)
d = e = f = 10
print("d:",d)
print("e:",e)
print("f:",f)

a: 1
b: 2
c: mantap
d: 10
e: 10
f: 10

In [11]:
kota = "Sukabumi"
nilai = 50
print(type(kota))
print(type(nilai))

<class 'str'>
<class 'int'>

In [18]:
#ini menghitung luas persegi panjang
panjang = 5
lebar = 10.5
luas = panjang * lebar
print(panjang, "*",lebar, "=", luas)
print("tipe dari variabel panjang", type(panjang))
print("tipe dari variabel lebar", type(lebar))
print("tipe dari variabel luas", type(luas))

5 * 10.5 = 52.5
tipe dari variabel panjang <class 'int'>
tipe dari variabel lebar <class 'float'>
tipe dari variabel luas <class 'float'>

In [21]:
alas = 10
tinggi = 5
luas = 0.5 * alas * tinggi
print("luas segitiga=",luas,"cm^2")

luas segitiga= 25.0 cm^2

In [36]:
#usia
tahun_lahir = 2004
tahun_sekarang = 2022
umur = tahun_sekarang - tahun_lahir
print("umur=",umur)

umur= 18

In [35]:
#biodata
nama_depan = "Dzikri"
nama_belakang = "Hibatullah"
nama_lengkap = nama_depan + " " + nama_belakang
usia = "18"
alamat = "Cibadak"
kata_mutiara = "jika bisa melakukan sekarang kenapa harus nanti"
print(nama_lengkap,"("+usia+")",",","dari",alamat,",""kata mutiara:",kata_mutiara)

Dzikri Hibatullah (18) , dari Cibadak ,kata mutiara: jika bisa melakukan sekarang kenapa harus nanti

In [51]:
print("saya "*3)
print("\n saya "*3)

saya saya saya

 saya
 saya
 saya

In [61]:
print("\n Dzikri","\n slebew","\n Teknik Informatika")

 Dzikri
 slebew
 Teknik Informatika

In [75]:

print("""nama saya
Dzikri
TI""")

nama saya
Dzikri
TI

In [79]:
saya_orang_indonesia = True
saya_adalah_robot = False
print("apakah saya orang indonesia=", saya_orang_indonesia)
print("apakah saya adalah robot", saya_adalah_robot)
print("tipe dari saya_orang_indonesia", type(saya_orang_indonesia))
print("tipe dari saya_adalah_robot", type(saya_adalah_robot))

apakah saya orang indonesia= True
apakah saya adalah robot False
tipe dari saya_orang_indonesia <class 'bool'>
tipe dari saya_adalah_robot <class 'bool'>

In [93]:
"10 > 12"| = False
"20_kurang dari_10" = False
A=a = False
print("10_lebih_dari_12=", 10>12)
print("20_kurang dari_10", B)
print("A=a", A)

SyntaxError: invalid syntax (1946227369.py, line 1)

In [103]:
hasil = (10 > 12)
hasil2 = (20 < 10)
print(hasil)
print(hasil2)
print("A" == "a")

False
False
False