In [69]:
planets = ['merkurius', 'venus', 'earth', 'mars', 'jupiter', 'saturnus', 'uranus', 'neptunus']

for index, planet in enumerate(planets):
    if index %2:
        print(index,planet)
    else :
        print()

1 venus

3 mars

5 saturnus

7 neptunus

In [26]:
names = ['aripin', 'dzikri', 'fadhlan', 'vicky', 'fajril', 'abdul', 'dah', 'baiasy']

for names in names:
    print(names)

aripin
dzikri
fadhlan
vicky
fajril
abdul
dah
baiasy

In [68]:
planets = ['merkurius', 'venus', 'earth', 'mars', 'jupiter', 'saturnus', 'uranus', 'neptunus']

for index, planet in enumerate(planets):
    print(index,planet)

0 merkurius
1 venus
2 earth
3 mars
4 jupiter
5 saturnus
6 uranus
7 neptunus

In [67]:
i=10
while i >=0 :
    print (i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [74]:
while True:
    a = input('input string:')
    if a == "quit":
        break
    print('length of a is {}'.format(len(a)))

input string:quir=t
length of a is 6
input string:quit

In [76]:
i = 10
while i>=0:
    if i == 4:
        break
    print(i)
    i-=1

10
9
8
7
6
5

In [82]:
total = 0
viewers = 0

while viewers < 5:
    age = int(input('age: '))
    if age > 3:
        total += 30000
    viewers += 1
print(total)

age: 5
age: 5
age: 5
age: 5
age: 5
150000